<table class="highlight">
  <tbody>
    <tr>
      <td><h5>Active Record Cache</h5></td>
      <td>
        <div class="ar_supercache_switch switch">
          <label>
            Off
            <input type="checkbox" class="">
            <%= check_box_tag 'ar_supercache', "#{@ar_cache.present?}", @ar_cache.present? %>
            <span class="lever"></span>
            On
          </label>
        </div>
      </td>
    </tr>
    <tr>
      <td><h5>HTTP Cache</h5></td>
      <td>
        <div class="http_supercache_switch switch">
          <label>
            Off
            <%= check_box_tag 'http_supercache', "#{@http_cache.present?}", @http_cache.present? %>
            <input type="checkbox" class="">
            <span class="lever"></span>
            On
          </label>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<% content_for :javascript do %>
  <script>
    $(document).on("change", ".ar_supercache_switch" , function() {
      window.location = '/supercache/dashboard/flip?cache=ar_supercache'
    });

    $(document).on("change", ".http_supercache_switch", function() {
      window.location = '/supercache/dashboard/flip?cache=http_supercache'
    });
  </script>
<% end %>
